.ul__cart--nav {
  display: flex;
  justify-content: space-around;
  padding-top: 2.4rem;
  padding-bottom: 2rem;
}

.div__cart--flex {
  display: flex;
}

.div__h2--flex {
  display: flex;
  justify-content: center;
}

.label__standard {
  margin-top: 1.6rem;
  background-color: white;
  border: 1px solid black;
  height: 1rem;
  width: 1rem;
  margin-left: 2rem;
  opacity: 1;
}

.p__cart--title {
  margin-left: 3.5rem;
  margin-top: 10rem;
}

.div__cart {
  margin-top: 4rem;
  margin-left: 3.5rem;
}

.button__cart--remove {
  color: black;
  font-size: var(--fontSizeVerySmall);
}

.button__cart--update {
  background-color: var(--mainRed);
  height: 3rem;
  width: 3rem;
  opacity: .7;
  margin-top: 2.6rem;
}

.button__cart--remove:hover,
.button__cart--update:hover {
  opacity: 1;
  cursor: pointer;
}

.div__cart--bottom {
  margin-left: 1.5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.input--discount {
  font-size: var(--fontSizeVerySmall);
  height: 3rem;
  width: 20rem;
  padding-left: 1rem;
  margin-top: 1.2rem;
}

.button__submit--discount {
  background-color: var(--mainGreen);
  height: 2.9rem;
  width: 20rem;
  font-size: var(--fontSizeVerySmall);
  margin-top: 2.6rem;
}

.div__cart--discount {
  display: flex;
  margin-left: 20rem;
  margin-top: 4rem;
}

.div__input--discount {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

.div__cart--recipe {
  background-color: var(--mainGrey);
  width: 42rem;
  height: 25rem;
  margin-left: 2rem;
  margin-top: 2.5rem;
}

.div__cart--recipe-2 {
  margin-left: 20rem;
  margin-top: 6rem;
}

.label__standard:nth-child(2) {
  margin-top: 3.2rem;
}

input[type='radio']:checked + .label__standard {
  background-color: red;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.div__recipe--bottom {
  margin-top: 1.6rem;
  border-top: .1rem dashed black;
  padding-top: 2rem;
}

.div__recipe--top {
  padding-top: 1.6rem;
  border-bottom: .1rem dashed black;
  padding-bottom: 1.6rem;
}

.div__recipe--total {
  margin-top: 1.6rem;
  border-bottom: .1rem dashed black;
  padding-bottom: 1.6rem;
}

.p__bottom--text,
.p__recipe--text,
.p__basic--text,
.p__total--text {
  margin-left: 6rem;
}

.input__standard {
  margin-bottom: 1rem;
}

.p__input--standard {
  margin-left: 2rem;
  margin-top: -.35rem;
}

.div__recipe--discount {
  margin-top: 1rem;
}

.p__bottom--amount,
.p__deliver,
.p__basic--amount,
.p__recipe--amount,
.p__total--amount {
  margin-right: 4rem;
}

.p__deliver {
  margin-top: 1.25rem;
  opacity: .3;
}

.div__recipe--deliver {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.button__cart {
  margin-top: 5rem;
  margin-left: 2.5rem;
  margin-bottom: 4rem;
}

.div__emptycart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p__emptycart {
  margin-top: 15rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button__emptycart {
  margin-top: 6rem;
}

.img__emptycart {
  margin-top: 7rem;
}

.img__finished {
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.cart__item {
  display: flex;
  border-bottom: .1rem dashed black;
  width: 30rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}

.div__cart--info {
  margin-left: 2rem;
}

.p__cart--info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainRed);
  color: white;
  width: 15rem;
  height: 4rem;
}

.p__cart--info-name {
  margin-top: 1rem;
  max-width: 30rem;
}

.p__cart--info-price {
  margin-top: 1rem;
}

.blauw {
  background-color: #0097e6;
}

.wit {
  border: .1rem solid black;
  color: black;
  background-color: white;
}

.zwart {
  background-color: black;
}

.groen {
  background-color: var(--mainGreen);
}

@media (--tablet) {

  .div__cart--flex {
    flex-direction: column;
  }

  .div__cart--discount {
    margin-left: 2.5rem;
  }
}

@media (--mobile) {

  .ul__cart--nav {
    flex-direction: column;
    align-items: center;
  }

  .button__emptycart {
    padding: .8rem 5rem;
  }

  .div__cart--discount {
    display: flex;
    flex-direction: column;
  }

  .button__cart {
    padding: .8rem 4rem;
  }
}
