.nav__top,
.nav__top--left,
.nav__top--right,
.nav__main--flex {
  display: flex;
}

.nav__top,
.nav__main--flex {
  justify-content: space-between;
}

.nav__top {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.li__nav--left {
  margin-right: 2rem;
}

.li__nav--right {
  margin-left: 2rem;
}

.li__nav--main {
  padding-top: 2.6rem;
}

.img__nav--search {
  margin-top: 2.2rem;
}

.span__nav--background {
  background-color: var(--mainRed);
  padding: 1.4rem 2rem;
  color: white;
}

.span__main--background {
  background-color: white;
  color: var(--mainRed);
  padding: 2.6rem 2.4rem;
}

.span__nav--red {
  color: #df534a;
}

.nav__main {
  background-color: var(--mainGrey);
}

.nav__tablet {
  display: none;
}

.nav__mobile {
  display: none;
}

.grey__line--nav {
  margin-top: 5rem;
}

.session--info,
.session--error {
  position: absolute;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--mainRed);
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  top: 0;
  animation: fadeOut 3s forwards ease-out;
  animation-delay: 0.3s;
  z-index: 1;
}

.session--info {
  background-color: var(--mainGreen);
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@media (--tablet) {
  .nav__desktop {
    display: none;
  }
  .nav__mobile {
    display: none;
  }
  .nav__tablet {
    display: unset;
  }
  .img__nav--search {
    margin-top: 0rem;
  }
  .nav__top--right {
    margin-top: 0.6rem;
    margin-right: 3.5rem;
  }
  .li__nav--main:nth-child(1) {
    margin-left: 3rem;
  }

  .li__nav--main:nth-child(6) {
    margin-right: 3rem;
  }

  .nav__top--left {
    margin-left: 3.5rem;
    justify-content: space-between;
  }

  .img__nav--search {
    margin-left: 2rem;
  }
}

@media (--menu) {
  .nav__desktop {
    display: none;
  }
  .nav__tablet {
    display: none;
  }
  .nav__mobile {
    display: unset;
  }
  .nav__top {
    padding-top: 0rem;
  }
  .li__nav--right {
    margin-left: 0.3rem;
    margin-top: 0.8rem;
  }
  .nav__right--cart {
    display: flex;
  }
  .nav__top--right {
    margin-right: 2rem;
    margin-top: 1rem;
  }
  .nav__top--left {
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .img__mobile--right {
    margin-right: 2rem;
  }
  .img__mobile--left {
    margin-left: 2rem;
  }
  .grey__line--nav {
    margin-top: -1.7rem;
  }
  .img__mobile--logo {
    margin-left: 2rem;
  }
}
@media (--mobile) {
  .li__cart--nav {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
