.ul__nav--road {
  display: flex;
  justify-content: space-between;
}
.li__nav--road {
  font-family: Roboto;
  z-index: 1;
}
.li__nav--road:nth-child(1),
.li__nav--road:nth-child(3) {
  margin-top: 2.5rem;
}

.div__header--title {
  margin-top: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1__road {
  z-index: 1;
}

.p__road--undertitle {
  margin-top: 2rem;
  z-index: 1;
}

.effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.img__effect {
  position: absolute;
  top: calc(-1 * 0.5rem);
  left: calc(-1 * 1rem);
  width: calc(100% + 1rem * 2);
  height: calc(100% + 0.5rem * 2);
  background: url(../../assets/img/img_road/header_1600.png) no-repeat 50% 0;
  background-color: transparent;
  background-size: cover;
  transform: translate3d(0, 0, 0);
  background-blend-mode: none;
}

.img__effect:nth-child(n + 2) {
  opacity: 0;
}

.img__effect:nth-child(n + 2) {
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.img__effect:nth-child(2) {
  background-color: none;
  background-blend-mode: none;
  animation-name: glitch-anim-1;
}

.img__effect:nth-child(3) {
  background-color: none;
  background-blend-mode: none;
  animation-name: glitch-anim-2;
}

.img__effect:nth-child(4) {
  background-color: transaparent;
  background-blend-mode: none;
  animation-name: glitch-anim-3;
}

.img__effect:nth-child(5) {
  background-color: black;
  background-blend-mode: luminosity;
  animation: glitch-anim-flash 1.5s steps(1, end) infinite;
}

/* Animations */

@keyframes glitch-anim-1 {
  0% {
    opacity: 1;
    transform: translate3d(1rem, 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 20% 2%, 100% 5%, 0 5%);
  }
  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 50% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 20% 1%, 100% 2%, 0 2%);
  }
  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    -webkit-clip-path: polygon(0 10%, 20% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 10%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    -webkit-clip-path: polygon(0 80%, 10% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 10% 80%, 0 80%);
  }
  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 10%, 10% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(1rem, 0, 0);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    -webkit-clip-path: polygon(2% 0, 5% 0, 5% 100%, 2% 100%);
    clip-path: polygon(2% 0, 100% 0, 5% 100%, 2% 100%);
  }
  10% {
    -webkit-clip-path: polygon(15% 0, 15% 0, 15% 100%, 15% 100%);
    clip-path: polygon(15% 0, 15% 0, 15% 100%, 15% 100%);
  }
  20% {
    -webkit-clip-path: polygon(10% 0, 20% 0, 20% 100%, 10% 100%);
    clip-path: polygon(10% 0, 20% 0, 20% 100%, 10% 100%);
  }
  30% {
    -webkit-clip-path: polygon(1% 0, 2% 0, 2% 100%, 1% 100%);
    clip-path: polygon(1% 0, 2% 0, 2% 100%, 1% 100%);
  }
  40% {
    -webkit-clip-path: polygon(33% 0, 33% 0, 33% 100%, 33% 100%);
    clip-path: polygon(33% 0, 33% 0, 33% 100%, 33% 100%);
  }
  50% {
    -webkit-clip-path: polygon(44% 0, 44% 0, 44% 100%, 44% 100%);
    clip-path: polygon(44% 0, 44% 0, 44% 100%, 44% 100%);
  }
  60% {
    -webkit-clip-path: polygon(50% 0, 20% 0, 20% 100%, 50% 100%);
    clip-path: polygon(50% 0, 20% 0, 20% 100%, 50% 100%);
  }
  70% {
    -webkit-clip-path: polygon(70% 0, 70% 0, 70% 100% 70%, 70% 100%);
    clip-path: polygon(70% 0, 70% 0, 70% 100% 70%, 70% 100%);
  }
  80% {
    -webkit-clip-path: polygon(80% 0, 80% 0, 80% 100% 80%, 80% 100%);
    clip-path: polygon(80% 0, 80% 0, 80% 100% 80%, 80% 100%);
  }
  90% {
    -webkit-clip-path: polygon(50% 0, 55% 0, 55% 100%, 50% 100%);
    clip-path: polygon(50% 0, 55% 0, 55% 100%, 50% 100%);
  }
  100% {
    -webkit-clip-path: polygon(70% 0, 80% 0, 80% 10%, 70% 100%);
    clip-path: polygon(70% 0, 80% 0, 20% 98%, 20% 10%);
  }
}

@keyframes glitch-anim-3 {
  0% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * 0.5rem), 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }
  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }
  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * 0.5rem), 0) scale3d(-1, -1, 1);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
@keyframes glitch-anim-flash {
  0%,
  5% {
    opacity: 0.2;
    transform: translate3d(3rem, 3rem, 0);
  }
  5.5%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

.header--road {
  height: 100vh;
}

.section--road {
  background-color: black;
  padding-top: 12rem;
}

.section--road:after {
  animation: grain 8s steps(10) infinite;
  background-image: url(https://previews.123rf.com/images/maximkostenko/maximkostenko1602/maximkostenko160200071/53576792-grain-texture-overlay-background-for-your-desig-dusty-overlay-texture.jpg);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.03;
  position: fixed;
  top: -110%;
  width: 300%;
  pointer-events: none;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

.h2__road {
  margin-bottom: 4rem;
}

.div__text--right {
  margin-top: -5.6rem;
  display: flex;
  justify-content: flex-end;
}

.p__road--text-right {
  text-align: right;
}

.div__text--written {
  margin-top: 3.2rem;
}

.div__text--flex {
  display: flex;
  justify-content: space-between;
}

.img__lang {
  margin-top: -7rem;
}

.article__polaroid {
  margin-top: 13.2rem;
  z-index: 1;
}

.p__polaroid--1 {
  margin-left: 4rem;
  margin-top: 6rem;
}

.p__polaroid--2 {
  margin-top: 21rem;
  text-align: right;
}

.p__polaroid--3 {
  margin-top: 11rem;
  margin-left: 4rem;
}

.div__polaroid--flex {
  display: flex;
}

.div__polaroid--flex:nth-child(1) {
  margin-left: 23rem;
}

.polaroid__flex--2 {
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-right: 4rem;
  margin-top: -15rem;
}

.polaroid__flex--3 {
  margin-left: 10rem;
  margin-top: -6rem;
}

.div__polaroid--svg {
  display: flex;
  justify-content: center;
}

.div__hover--svg {
  position: absolute;
  margin-top: 4rem;
  left: 37vw;
  opacity: 0.4;
}

.div__polaroid--textcontent1,
.div__polaroid--textcontent2,
.div__polaroid--textcontent3 {
  display: none;
}

.fadein {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.fadeout {
  -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 2s; /* Firefox < 16 */
  -ms-animation: fadeout 2s; /* Internet Explorer */
  -o-animation: fadeout 2s; /* Opera < 12.1 */
  animation: fadeout 2s;
}

.div__polaroid--image1:hover + .div__polaroid--textcontent1 {
  display: block;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.div__polaroid--image2:hover + .div__polaroid--textcontent2 {
  display: block;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.div__polaroid--image3:hover + .div__polaroid--textcontent3 {
  display: block;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.h2__road-2 {
  width: 16rem;
}

.h2__road--dream {
  width: 21rem;
}

.article__dreams {
  margin-top: 10rem;
}

.div__dreams--flex {
  margin-top: 10rem;
  display: flex;
}

.div__dreams--textcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 19rem;
}

.p__dreams {
  text-align: right;
  width: 40rem;
}

.div__written--dreams {
  display: flex;
  justify-content: center;
}

.button__dream {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: var(--mainOrangeRoad);
}

.div__dreams--buttons {
  display: flex;
  justify-content: space-between;
  width: 70rem;
  position: absolute;
  margin-top: 35rem;
}

.button__dream:nth-child(1) {
  margin-top: 8rem;
  margin-left: 2rem;
}

.button__dream:nth-child(2) {
  margin-right: 10rem;
  margin-top: -7rem;
}

.button__dream:nth-child(3) {
  margin-right: 10rem;
  margin-top: -3rem;
}

.article__vending {
  margin-top: 15rem;
}

.div__vending--flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.h2__road--vending {
  width: 16rem;
}

.p__vending {
  text-align: right;
}

.div__vending--image {
  background-image: url(../../assets/img/img_road/vending_background.png);
  background-repeat: no-repeat;
  width: 31rem;
  height: 67rem;
  margin-top: 15rem;
}

.div__vending--content--flex {
  display: flex;
  justify-content: space-between;
}

.image__vending {
  margin-left: 4rem;
  padding-top: 1rem;
}

.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(7deg);
  }
  30% {
    transform: rotate(-7deg);
  }
  40% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.image__can {
  margin-right: 20rem;
}

.div__vending--content {
  margin-left: 28rem;
}

.image__can {
  margin-bottom: 5rem;
}
.img__klik--svg {
  position: absolute;
  margin-top: 4rem;
  left: 40vw;
  opacity: 0.4;
}

.img__klik--svg-2 {
  margin-top: 50rem;
  left: 55vw;
}

@media (--imac) {
  .img__effect {
    background: url(../../assets/img/img_road/header_1280.png) no-repeat 50% 0;
    background-size: cover;
  }
}

@media (--tablet) {
  .img__effect {
    background: url(../../assets/img/img_road/header_968.png) no-repeat 50% 0;
    background-size: cover;
  }
}

@media (--tabletmini) {
  .img__effect {
    background: url(../../assets/img/img_road/header_768.png) no-repeat 50% 0;
    background-size: cover;
  }
}

@media (--mobile) {
  .img__effect {
    background: url(../../assets/img/img_road/header_480.png) no-repeat 50% 0;
    background-size: cover;
  }
}
