body {
  font-family: Arial, Helvetica, sans-serif;
}

p,
li,
h1,
h2,
.button__spotlight,
.button__filter {
  color: black;
  font-size: var(--fontSizeMedium);
}
.li__nav--right,
.li__nav--left,
.li__nav--main,
h2,
.p__spotlight--header,
.p__spotlight--title,
.button__spotlight,
.p__checkbox {
  text-transform: uppercase;
}
.li__nav--right,
.li__nav--left {
  font-size: var(--fontSizeTiny);
}

.li__nav--right,
.li__nav--main,
h2,
.p__spotlight--header,
.p__spotlight--title,
.p__spotlight--explained,
.button__spotlight,
.button__filter,
.p__checkbox {
  font-weight: var(--fontWeightBold);
}

h2,
.p__spotlight--header,
.p__spotlight--title,
.p__spotlight--explained {
  color: white;
}

.p__spotlight--title {
  font-size: var(--fontSizeBig);
}

.p__spotlight--explained {
  font-size: var(--fontSizeSmall);
}

.p__checkbox {
  font-size: var(--fontSizeVerySmall);
}
