body {
  font-family: Arial, Helvetica, sans-serif;
}

p,
li,
h1,
h2,
.button__spotlight,
.button__filter {
  color: black;
  font-size: var(--fontSizeMedium);
}

.medium {
  font-size: var(--fontSizeMedium);
}

.li__nav--right,
.li__nav--left,
.li__nav--main,
h2,
.p__spotlight--header,
.p__spotlight--title,
.button__spotlight,
.p__checkbox,
.uppercase {
  text-transform: uppercase;
}
.li__nav--right,
.li__nav--left,
.tiny {
  font-size: var(--fontSizeTiny);
}

.li__nav--right,
.li__nav--main,
h2,
.p__spotlight--header,
.p__spotlight--title,
.p__spotlight--explained,
.button__spotlight,
.button__filter,
.p__checkbox,
.bold {
  font-weight: var(--fontWeightBold);
}

h2,
.p__spotlight--header,
.p__spotlight--title,
.p__spotlight--explained,
.white {
  color: white;
}

.p__spotlight--title,
.big {
  font-size: var(--fontSizeBig);
}

.p__spotlight--explained,
.small {
  font-size: var(--fontSizeSmall);
}

.p__checkbox,
.verysmall {
  font-size: var(--fontSizeVerySmall);
}

.red {
  color: var(--mainRed);
}

.span__green {
  color: var(--mainGreen);
}
