@import './css/reset.css';
@import './css/vars.css';
@import './css/typography.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.has-js {
  display: none;
}
